.contact-page .header-wrapper {
  background: url(../images/contact-us/map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.contact-page .main-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page .main-content::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(
    32% 68% at 100% 22%,
    rgb(0 127 255 / 74%) -131%,
    rgba(0, 8, 31, 0) 75%
  );
}
form label {
  font-size: 1rem;
  color: var(--main-color);
}
form .form-control {
  border: 1px solid var(--main-color);
  color: var(--white);
  background: transparent;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--main-bg) inset !important; /* Change white to your background color */
  -webkit-text-fill-color: var(
    --white
  ) !important; /* Your desired text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}
